@keyframes burgerTop {
    0% {
        transform: rotate(18deg);
        bottom: -1px;
    }
    20% {
        transform: rotate(36deg);
        bottom: -2px;
    }
    40% {
        transform: rotate(54deg);
        bottom: -3px;
    }
    60% {
        transform: rotate(72deg);
        bottom: -4px;
    }

    80% {
        transform: rotate(90deg);
        bottom: -5px;
    }
    100% {
        transform: rotate(90deg);
        bottom: -6px;
    }
}
@keyframes burgerBottom {
    0% {
        transform: rotate(230deg);
        width: 23px;
    }
    20% {
        transform: rotate(220deg);
        width: 28px;
    }
    40% {
        transform: rotate(210deg);
        width: 33px;
    }
    60% {
        transform: rotate(200deg);
        width: 38px;
    }

    80% {
        transform: rotate(190deg);
        width: 42px;
    }
    100% {
        transform: rotate(180deg);
        width: 45px;
    }
}
