:root {
    --primary-text-color: #23a6f0;
    --light-text-color: #fff;
    --light-background-color: #fff;
    --dark-background-color: #252b42;
    --text-color: #252b42;
    --second-text-color: #737373;
    --hover-text-color: #2a7cc7;
    --image-background-color: #2d8bc0bf;
    --hero-margin: 33px;
}
